# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/

# Ambiente / segredos
.env
*.jks
*.keystore

# Plataformas
android/local.properties
ios/Flutter/flutter_export_environment.sh
ios/Pods/

# macOS
.DS_Store
